#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc > #backgroundBox {
  position: absolute;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc > #alignmentBox {
  position: relative;
  max-width: 430.0px;
  max-height: 932.0px;
  width: 100%;
  height: 100%;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Image_1 {
  position: absolute;
  width: 479.00000000000045px;
  height: 978.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Text_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Archivo Black_21.0.0_google',Arial;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Text_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Archivo Black_21.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Text_2 span#rtr-s-Text_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Archivo Black_21.0.0_google',Arial;
  font-size: 21.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_17 input::-webkit-input-placeholder {
  color: #000000;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_17 input::-moz-placeholder {
  color: #000000;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_17 input:-moz-placeholder {
  color: #000000;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_17 input:-ms-input-placeholder {
  color: #000000;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_17 {
  position: absolute;
  width: 400.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_17 .valign {
  vertical-align: middle;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_17 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_17 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_17 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_17 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #700000;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #700000;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #700000;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #700000;
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_17 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 35px;
  padding-bottom: 0px;
  padding-left: 10px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_1 input::-webkit-input-placeholder {
  color: #000000;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_1 input::-moz-placeholder {
  color: #000000;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_1 input:-moz-placeholder {
  color: #000000;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_1 input:-ms-input-placeholder {
  color: #000000;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_1 {
  position: absolute;
  width: 400.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_1 .valign {
  vertical-align: middle;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_1 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_1 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #700000;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #700000;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #700000;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #700000;
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_1 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 35px;
  padding-bottom: 0px;
  padding-left: 10px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_2 input::-webkit-input-placeholder {
  color: #000000;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_2 input::-moz-placeholder {
  color: #000000;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_2 input:-moz-placeholder {
  color: #000000;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_2 input:-ms-input-placeholder {
  color: #000000;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_2 {
  position: absolute;
  width: 400.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_2 .valign {
  vertical-align: middle;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_2 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_2 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #700000;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #700000;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #700000;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #700000;
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_2 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 35px;
  padding-bottom: 0px;
  padding-left: 10px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_3 input::-webkit-input-placeholder {
  color: #000000;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_3 input::-moz-placeholder {
  color: #000000;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_3 input:-moz-placeholder {
  color: #000000;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_3 input:-ms-input-placeholder {
  color: #000000;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_3 {
  position: absolute;
  width: 400.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_3 .valign {
  vertical-align: middle;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_3 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_3 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #700000;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #700000;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #700000;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #700000;
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_3 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 35px;
  padding-bottom: 0px;
  padding-left: 10px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_4 input::-webkit-input-placeholder {
  color: #000000;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_4 input::-moz-placeholder {
  color: #000000;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_4 input:-moz-placeholder {
  color: #000000;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_4 input:-ms-input-placeholder {
  color: #000000;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_4 {
  position: absolute;
  width: 400.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_4 .valign {
  vertical-align: middle;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_4 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_4 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_4 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #700000;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #700000;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #700000;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #700000;
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_4 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Input_text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 35px;
  padding-bottom: 0px;
  padding-left: 10px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc .s-Select_1 .line_options.selected {
  background-color: #000000 !important;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc .s-Select_1 .selected > .options {
  color: #FFFFFF !important;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc .s-Select_1 .line_options:hover {
  background-color: #000000 !important;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc .s-Select_1 .line_options:hover > .options {
  color: #FFFFFF !important;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Select_1 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Select_1 {
  position: absolute;
  width: 300.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  vertical-align: middle;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Select_1 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Select_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Select_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #700000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #700000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #700000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #700000;
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Select_1 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Select_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Rectangle_1 {
  position: absolute;
  width: 300.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #700000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #700000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #700000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #700000;
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Rectangle_2 {
  position: absolute;
  width: 300.0px;
  min-height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #700000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #700000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #700000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #700000;
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Button_1 {
  position: absolute;
  width: 215.0px;
  min-height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto_0.0.0_system',Arial;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Button_1 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Button_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc #s-Button_1 span#rtr-s-Button_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 19.5pt;
  font-weight: 400;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1214f49f-bc22-4da3-8a54-6e9874c39fbc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}