#s-caf0ad55-7ecd-46de-a841-5a1ab0f66fec > #backgroundBox {
  position: absolute;
}
#s-caf0ad55-7ecd-46de-a841-5a1ab0f66fec > #alignmentBox {
  position: relative;
  max-width: 430.0px;
  max-height: 932.0px;
  width: 100%;
  height: 100%;
}
#s-caf0ad55-7ecd-46de-a841-5a1ab0f66fec #s-Image_1 {
  position: absolute;
  width: 471.99999999999983px;
  height: 966.9999999999998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-caf0ad55-7ecd-46de-a841-5a1ab0f66fec #s-Input_text_1 input::-webkit-input-placeholder {
  color: #AEAEB2;
}
#s-caf0ad55-7ecd-46de-a841-5a1ab0f66fec #s-Input_text_1 input::-moz-placeholder {
  color: #AEAEB2;
}
#s-caf0ad55-7ecd-46de-a841-5a1ab0f66fec #s-Input_text_1 input:-moz-placeholder {
  color: #AEAEB2;
}
#s-caf0ad55-7ecd-46de-a841-5a1ab0f66fec #s-Input_text_1 input:-ms-input-placeholder {
  color: #AEAEB2;
}
#s-caf0ad55-7ecd-46de-a841-5a1ab0f66fec #s-Input_text_1 {
  position: absolute;
  width: 400.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-caf0ad55-7ecd-46de-a841-5a1ab0f66fec #s-Input_text_1 .valign {
  vertical-align: middle;
}
#s-caf0ad55-7ecd-46de-a841-5a1ab0f66fec #s-Input_text_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto_0.0.0_system',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-caf0ad55-7ecd-46de-a841-5a1ab0f66fec #s-Input_text_1 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-caf0ad55-7ecd-46de-a841-5a1ab0f66fec #s-Input_text_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-caf0ad55-7ecd-46de-a841-5a1ab0f66fec #s-Input_text_1 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #E5E5EA;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #E5E5EA;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5EA;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #E5E5EA;
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-caf0ad55-7ecd-46de-a841-5a1ab0f66fec #s-Input_text_1 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-caf0ad55-7ecd-46de-a841-5a1ab0f66fec #s-Input_text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 35px;
  padding-bottom: 0px;
  padding-left: 10px;
}
#s-caf0ad55-7ecd-46de-a841-5a1ab0f66fec #s-Path_1 {
  position: absolute;
  width: 18.00006103515625px;
  height: 17.99981689453125px;
}
#s-caf0ad55-7ecd-46de-a841-5a1ab0f66fec #s-Text_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-caf0ad55-7ecd-46de-a841-5a1ab0f66fec #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-caf0ad55-7ecd-46de-a841-5a1ab0f66fec #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-caf0ad55-7ecd-46de-a841-5a1ab0f66fec #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-caf0ad55-7ecd-46de-a841-5a1ab0f66fec #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-caf0ad55-7ecd-46de-a841-5a1ab0f66fec #s-Image_2 {
  position: absolute;
  width: 415.0000000000002px;
  height: 317.67898383371823px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-caf0ad55-7ecd-46de-a841-5a1ab0f66fec #s-Text_1 {
  position: absolute;
  width: 408.3750000000002px;
  min-height: 141.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Gloria Hallelujah_21.0.0_google',Arial;
}
#s-caf0ad55-7ecd-46de-a841-5a1ab0f66fec #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-caf0ad55-7ecd-46de-a841-5a1ab0f66fec #s-Text_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-caf0ad55-7ecd-46de-a841-5a1ab0f66fec #s-Text_1 span {
  color: #700000;
  text-align: center;
  text-decoration: none;
  font-family: 'Gloria Hallelujah_21.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-caf0ad55-7ecd-46de-a841-5a1ab0f66fec #s-Text_1 span#rtr-s-Text_1_0 {
  color: #700000;
  text-decoration: none;
  font-family: 'Gloria Hallelujah_21.0.0_google',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-caf0ad55-7ecd-46de-a841-5a1ab0f66fec #s-Path_2 {
  position: absolute;
  width: 53.49802017211914px;
  height: 45.81520080566406px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-caf0ad55-7ecd-46de-a841-5a1ab0f66fec > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}